*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-1: #c09f80;
    --clr-2: #565656;
    --clr-2-alpha-low: #565656af;
    --clr-accent-1: #D7CEC7;
    --clr-accent-2: #76323F;
    /*
    --clr-1: #EFEFEF;
    --clr-2: #A9A9A9;
    --clr-accent-1: #CAEBF2;
    --clr-accent-2: #FF3B3F;
    */
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1rem;
        --fs-body: 1.125rem;
    }
}
/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-2);
    color: var(--clr-1);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: .25em;
    color: var(--clr-2);
    font-weight: var(--fw-bold);
}

.section__title--intro {
    font-weight: var(--fw-bold);
    color: var(--clr-1);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h2);
}
.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent-2);
    color: var(--clr-accent-1);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}
.section__subtitle--portfolio {
    color: var(--clr-accent-2);
    font-weight: var(--fw-bold);
}
.section__description{
    margin: 0;
    font-size: var(--fs-h4);
}
.section__description--portfolio{
    color: var(--clr-1);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
}


/* WEBKIT */


::-webkit-scrollbar {
height: 8px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 25px;
}
::-webkit-scrollbar-thumb {
background: #6e93f7;
border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
background: #4070f4;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-1);
    color: var(--clr-2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent-2);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent-2);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/*  What I Do section  */

.my-services {
    background-color: var(--clr-1);
    color: var(--clr-2);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent-4e3700);
    position: relative;
    text-align: center;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 5em;
    height: 3px;
    margin: 0.5em auto 1em;
    background: var(--clr-2);
}

.services {
    margin-bottom: 1em;
    display: inline-block;
}

.service {
    max-width: 300px;
    text-align: center;
}

@media (min-width: 800px) {
    .services {
        display:flex;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
        width:auto;
    }
}


/*  Who Am I section  */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    
    .section__title--about {
        grid-area: title;
        color: var(--clr-1);
    }
    
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My portfolio */

    
.my-portfolio { 
    text-align: center; 
    background-color: var(--clr-1);
    color: var(--clr-2); 
}

.portfolio {   
    display: flex;     
    border-radius: 16px;
    gap: 12px; 
    /*
    max-width: 400px;  
    background: #4070f4;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    */  
    width: 100%; 
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;    
}
.portfolio-item{   
    flex: 0 0 0; 
    background: var(--clr-2-alpha-low);
    border-radius: 16px;
    scroll-snap-align: start; 
}

.portflio-item-image{
    padding: 10px;
    border-radius: 32px;
    transition: 
        transform 250ms cubic-bezier(.5, 0, .5, 1),
        sopacity 250ms linear;
}

.portfolio-item:focus {
    position: relative;
    z-index: 2;
}

.portfolio-item-button:hover{
    transform: scale(1.2);
    opacity: 1;
}

.portfolio-item-button{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent-2);
    color: var(--clr-1);
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin:1em;
}

/* footer */

.footer {
    background: var(--clr-accent-2);
    color: var(--clr-1);
    text-align: center;
    padding: 1.5em 0;
    font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}
/*
.footer__link:hover {
    text-decoration: underline;
}
*/
.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}




/* Individual portfolio item styles */

.portfolio-item-individual {
    background: var(--clr-1);
    background-size: cover;
    color: var(--clr-2);
    padding: 0 2em 2em;
    margin: 0 auto;
}
.portfolio-item-individual img,
.portfolio-item-individual p {
    
    margin-left: auto;
    margin-right: auto;
    
}
.portfolio-item-individual p {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    max-width: 85%;
}
.portfolio-item-individual img {
    max-width: 85%;
}
.portfolio-item-individual-buttons{
    text-align: center;
    background: var(--clr-1);
    margin-bottom: 1em;
}
.portfolio-item-individual-button{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent-2);
    color: var(--clr-1);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin:1em;
}